:root {
	--theme_black: #000;
	--theme_white: #FFF;
	--theme_red: #EA5455;
	--theme_green: #5cbf69;
	--theme_dark_knight: #08191E;
	--theme_midnight: #0E3042;
	--theme_ocean: #005580;
	--theme_blue_gray: #8FAFBF;
	--theme_orange: #FF7F00;
	--theme_gray: #A9A9A9;
}
